@import './src/sass/abstracts/all';

.AppToolbar {
  &__typography {
    flex: 1;
    font-family: 'Secular One', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__link,
  &__link:link,
  &__link:visited,
  &__link:hover {
    text-decoration: none;
    color: white;
    font-size: 3.4rem;
    transition: 0.15s all;
    padding: 0.14rem 0;
  }

  &__link:hover {
    transform: scale(1.17);
    z-index: 10;
  }

  &__link:not(:last-child) {
    margin-right: 1rem;
  }
}
