version: "3.4"
services:
  base:
    build:
      context: .
      dockerfile: dev/Dockerfile
    image: enumc:base
    command: /bin/sh
    tty: yes
    volumes:
      - ./packages/enum-converter-api/package.json:/usr/src/app/packages/enum-converter-api/package.json
      - ./packages/enum-converter-web/package.json:/usr/src/app/packages/enum-converter-web/package.json      
      - ./packages/enum-converter/package.json:/usr/src/app/packages/enum-converter/package.json
      - ./yarn.lock:/usr/src/app/yarn.lock:delegated
  api:
    image: enumc:base
    command: "yarn workspace enum-converter-api dev"
    environment:
      - NODE_ENV=development
    ports:
      - "5000:5000"
    volumes_from:
      - base
    volumes:
      - ./packages/enum-converter-api/src:/usr/src/app/packages/enum-converter-api/src      
      - static-volume:/usr/src/app/packages/enum-converter-api/static
      - build-volume:/usr/src/app/packages/enum-converter/build
  web:
    image: enumc:base
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: "yarn workspace enum-converter-web dev"
    ports:
      - "3000:3000"
      - "9229:9229"
    volumes_from:
      - base      
    volumes:
      - ./packages/enum-converter-web/src:/usr/src/app/packages/enum-converter-web/src
      - ./packages/enum-converter-web/public:/usr/src/app/packages/enum-converter-web/public      
      - static-volume:/usr/src/app/packages/enum-converter-web/build
  lib:
    image: enumc:base
    command: "yarn workspace enum-converter dev"
    volumes_from:
      - base          
    volumes:
      - ./packages/enum-converter/src:/usr/src/app/packages/enum-converter/src      
      - ./packages/enum-converter/jest.config.js:/usr/src/app/packages/enum-converter/jest.config.js
      - build-volume:/usr/src/app/packages/enum-converter/build
volumes:
  static-volume:
  build-volume:
