version: "3.4"
services:
  base:
    build:
      context: .
      dockerfile: dev.Dockerfile
    image: enumc:base
    volumes:
      - ./package.json:/usr/src/app/package.json
      - ./packages/enum-converter-api/package.json:/usr/src/app/packages/enum-converter-api/package.json
      - ./packages/enum-converter-web/package.json:/usr/src/app/packages/enum-converter-web/package.json
      - ./packages/enum-converter/package.json:/usr/src/app/packages/enum-converter/package.json
      - ./yarn.lock:/usr/src/app/yarn.lock:delegated
  lib:
    image: enumc:base
    command: "yarn dev"
    working_dir: /usr/src/app/packages/enum-converter
    volumes_from:
      - base
    volumes:
      - ./packages/enum-converter/build:/usr/src/app/packages/enum-converter/build
      - ./packages/enum-converter/jest.config.js:/usr/src/app/packages/enum-converter/jest.config.js
      - ./packages/enum-converter/README.md:/usr/src/app/packages/enum-converter/README.md
      - ./packages/enum-converter/src:/usr/src/app/packages/enum-converter/src
      - ./packages/enum-converter/tsconfig.json:/usr/src/app/packages/enum-converter/tsconfig.json      
      - ./packages/enum-converter/tsconfig.prod.json:/usr/src/app/packages/enum-converter/tsconfig.prod.json
  api:
    image: enumc:base
    working_dir: /usr/src/app/packages/enum-converter-api
    command: "yarn dev"
    environment:
      - NODE_ENV=development
    ports:
      - "5000:5000"
    volumes_from:
      - base
    command: /bin/sh
    tty: yes
    volumes:
      - ./packages/enum-converter-api/tsconfig.json:/usr/src/app/packages/enum-converter-api/tsconfig.json
      - ./packages/enum-converter-api/package.json:/usr/src/app/packages/enum-converter-api/package.json
      - ./packages/enum-converter-api/src:/usr/src/app/packages/enum-converter-api/src
      - ./packages/enum-converter-api/build:/usr/src/app/packages/enum-converter-api/build
      - static-volume:/usr/src/app/packages/enum-converter-api/static
  web:
    image: enumc:base
    working_dir: /usr/src/app/packages/enum-converter-web
    command: "yarn dev"
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: "yarn workspace enum-converter-web dev"
    ports:
      - "3000:3000"
      - "9229:9229"
    volumes_from:
      - base
    volumes:
      - ./packages/enum-converter-web/src:/usr/src/app/packages/enum-converter-web/src
      - ./packages/enum-converter-web/public:/usr/src/app/packages/enum-converter-web/public
      - static-volume:/usr/src/app/packages/enum-converter-web/build
volumes:
  static-volume:
