version: '3'
services:
  app:    
    build: .    
    ports:
    - "9229:9229"
    volumes:
    - ./src:/work/src
    - ./__tests__:/work/__tests__    
    - ./package.json:/work/package.json
    - ./yarn.lock:/work/yarn.lock
    - ./tslint.json:/work/tslint.json
    - ./tsconfig.json:/work/tsconfig.json
    - ./.prettierrc:/work/.prettierrc
    - ./README.md:/work/README.md
    - ./LICENSE:/work/LICENSE
    - ./CHANGELOG.md:/work/CHANGELOG.md
    - ./out:/out    
    command: /bin/sh
    tty: true
  # dev_registry:
  #   image: verdaccio/verdaccio
  #   ports:
  #   - "4873:4873"
