version: '3'
services:
  app:    
    build: .
    image: enumc-image
    ports:
    - "9229:9229"
    volumes:
    - ./src:/work/src
    - ./__tests__:/work/__tests__
    - ./lib:/work/lib
    - ./package.json:/work/package.json
    - ./tslint.json:/work/tslint.json
    - ./tsconfig.json:/work/tsconfig.json
    - ./.prettierrc:/work/.prettierrc
    - ./README.md:/work/README.md
    - ./LICENSE:/work/LICENSE
    - ./CHANGELOG.md:/work/CHANGELOG.md
    container_name: enumc
    command: ["/bin/bash"]
    tty: true
  dev_registry:
    image: verdaccio/verdaccio
    ports:
    - "4873:4873"
